<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EGUSI SOUP</title>
</head>
<body>
<h1>EGUSI SOUP(MELON SOUP)</h1>
<img src="egusi.png" width="70%" height="600">
<style>body{
        background-color:rgb(255,218,185);}
 p{ font-weight:bold;
 }
</style>
<h1>INGREDIENTS</h1>
<ol><li>Blended melon seeds</li>
    <li>2 red bell peppers</li>
    <li>5 scotch bonnet</li>
<li>2 medium onions</li>
<li>1/4 cup Palm oil</li>
<li>Locust bean</li>
<li>1 tasty cube</li>
<li>Salt to taste</li>
<li>1 bunch of spinach</li>
<li>Dry fish</li>
<li>Ponmo</li>
<li>1 lb Beef</li>
</ol>
<h1>DIRECTIONS</h1>
<p>Blend the peppers and onions not to a puree.Make a paste of the blended melon seeds with a bit of the pepper mix.
    Heat water in a pot and add the blended pepper.Add the paste and let it cook for 15 mins.
    Add palm oil,locust bean, seasoning, dry fish,ponmo and beef.
    Leave for about 5-10 minutes.Rinse and chop spinach and add to it.
    Stir and it should be ready in 5 minutes.
Egusi soup can be taken with any swallow</p>
</body>
</html>