<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOLLOF RICE</title>
</head>
<body>
<h1>JOLLOF RICE</h1>
<style>body{background-image:url("jollof.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-color:transparent;}
 p{ font-weight:bold;
     padding:10px;
     background-color:rgb(245,222,179);
 }
</style>
<h1>INGREDIENTS</h1>
<ol><li>3 cups of rice</li>
    <li>2 red bell peppers</li>
    <li>4 tomatoes</li>
    <li>1 scotch bonnet</li>
    <li>2 sachets of tomato paste</li>
    <li>1½ tasty cubes</li>
    <li>2 medium onions</li>
    <li>Vegetable oil</li>
    <li>Curry</li>
    <li>Thyme</li>
    <li>Water</li>
    <li>Bay leaf</li>
  <li>Chicken or meat stock(optional)</li>
</ol>
<h1>DIRECTIONS</h1>
<p>Blend the tomatoes and peppers together. Place the mixture into a saucepan and boil for several minutes until the excess liquid evaporates.
Add the oil to a separate, large pot and heat. Add the chopped onions and saute until soft. Add curry,thyme and bay leaf to the oil.Add the tomato paste and cook until the tomato loses its tart taste and the oil rises to the surface.Then add the blended tomato and pepper mixture and cook over low to medium heat for about 10 minutes.
Add the meat or chicken stock to the tomato mixture and bring to a boil. Let it boil for 5-10 minutes. Add the seasoning cube and salt to taste.Boil for an additional 5 minutes.
Add washed rice to the pot and mix well. The liquid should be the same level as the rice. If not, then add additional stock or water.
Add the bay leaves, cover the pot with aluminium foil and the pot lid but please let the rice cook over a low flame. Cook for about 30-35 minutes.
When the liquid is absorbed and the rice is soft, your Jollof rice is ready to eat.</p>
</body>
</html>