<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PUFFPUFF</title>
</head>
<body>
<h1>PUFFPUFF</h1>
<img src="puffpuff.png">
<style>
    body{background-color:rgb(220,220,220)}
    h1{text-align:center;}
 p{ font-weight:bold;
 }
</style>
<h1>INGREDIENTS</h1>
<ol><li>1 cup of flour</li>
    <li>2 tablespoons of sugar</li>
    <li>A pinch of yeast</li>
    <li>1 tsp Cinnamon</li>
    <li>Salt</li>
    <li>Warm water</li>
    <li>Vegetable oil for frying</li>
</ol>
<h1>DIRECTIONS</h1>
<p>Add the flour to a bowl and create a hole to add the yeast.Mix together.
    Add the sugar, cinnamon and salt.Then add warm water.Mix to get a good consistency(a thick and sticky batter).
    Cover with cling film and leave to rise in a warm place. Upon rising, heat oil in a deep pan. Scoop the batter to your desired size and fry in batches.
    Puffpuff can be served with a blend of cinnamon+sugar.
</p>
</body>
</html>