<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIGERIAN RECIPES</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> NIGERIAN RECIPES</h1>
<div class="dropdown">
<button class="dropdownbutton">RECIPES</button>
    <div class="dropdowncontent">
        <a href="jollof.html">JOLLOF RICE</a>
        <a href="stew.html">BEEF STEW</a>
         <a href="efo.html">EFO(VEGETABLE STEW)</a>
         <a href="egusi.html">EGUSI SOUP</a>
         <a href="puffpuff.html">PUFFPUFF</a>
    </div>
</div>
<p>Nigerian recipes are known for their rich and diverse flavors that are influenced
    by the country's various ethnic groups.
    From jollof rice to egusi soup, Nigerian cuisine encompasses a wide range of dishes that
    are both savory and spicy. The use of bold spices and herbs, along with fresh ingredients,
    create tantalizing dishes that have earned the cuisine a reputation for being both delicious
    and beautiful in presentation. In addition, Nigerian recipes often incorporate traditional
    cooking methods and utensils,
    adding to the unique and authentic experience of the cuisine.</p>

</style>
</body>
</html>