<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEEF STEW</title>
</head>
<body>
<h1>BEEF STEW</h1>
<img src="stew.png" width="50%" height="450">
<style>body{
        background-color:rgb(255,127,127);}
 p{ font-weight:bold;
 }
</style>
<h1>INGREDIENTS</h1>
<ol><li>2 large red bell peppers</li>
    <li>5 tomatoes</li>
    <li>2 scotch bonnets</li>
    <li>Tasty cubes</li>
    <li>Salt</li>
    <li>2 medium onions</li>
    <li>Vegetable oil</li>
    <li>Curry</li>
    <li>Thyme</li>
  <li>1lb beef</li>
</ol>
<h1>DIRECTIONS</h1>
<p>Blend the tomatoes and peppers together. Place the mixture into a saucepan and boil for several minutes until the excess liquid evaporates.
Add the oil to a separate, large pot and heat. Add the chopped onions and saute until soft. Add curry and thyme to the oil.
    Add the blended tomato and pepper mixture, seasoning cube and salt to taste.Cook for about 20-30minutes.
 Your stew is ready.</p>
</body>
</html>